
form{
    margin: 50px;
}

.del_area{
    margin: 50px;
}

#root {
    margin: 50px;
    display: grid;
    gap: 25px;
    grid-template-columns: repeat(4, 1fr);
}

.container{
    border: 1px solid black;
    padding: 15px;
}